body {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to left, rgb(43,43,43), rgba(43,43,43,0.5));
    /* background-color: aliceblue; */
    color: whitesmoke;
}

.groceries__header {
    font-size: 5em;
  ;
    
}
#grocery-list {
    list-style-type: none;
}
#groceries {
    display: flex;
    flex-direction: column;
}

.new-text {
    font-family: 'Gayathri', sans-serif;
}
li {
    transition: ease .3s;
}
li:hover {
    font-size: 2em;
    transition: ease .3s;
}